<div class="row" style="height:100%;">
	<div class="col-md-2">
	</div>
	<div class="col-md-8" style="height:100%;">
		<div class="login-form-part" style="height:20%;">
		</div>
		<div class="card login-form-part" style="height:60%;">
			<article class="card-body">
				<h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
				<hr>
				<form>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
							    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
							 </div>
							<input name="" (input)="username = $event.target.value" class="form-control" placeholder="Email or login" type="email">
						</div> 
					</div> 
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
							    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
							 </div>
						    <input class="form-control" (input)="password = $event.target.value" placeholder="******" type="password">
						</div> 
					</div> 
					<div class="form-group">
						<button type="button" (click)="login()" class="btn btn-primary btn-block"> Login  </button>
					</div> 
					<div class="form-group">
						<button type="button" (click)="guestLogin()" class="btn btn-primary btn-block"> Guest Login </button>
					</div> 
					<p class="text-center url" (click) ="forgotPassword()">Forgot password?</p>
					<p class="text-center text-success">{{message}}</p>
				</form>
			</article>
		</div>
		<div class="login-form-part" style="height:20%;">
		</div>
	</div> 
	<div class="col-md-2">
	</div>
</div>