<div class="row">
	<div id="wrapper" class="toggled">

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <span (click)="goToDashboard()">
                        MeasureMe
                    </span>
                </li>
                <li>
                    <span (click)="goToDashboard()">Dashboard</span>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
	
</div>