<div class="row" style="height:100%;">
	<div class="col-md-1">
	</div>
	<div class="col-md-11" style="height:100%;">
		<div class="login-form-part" style="height:20%;">
		</div>
		<div class="card login-form-part" style="height:60%;">
		  <div class="card-body">
		    <h3 class="card-title">MeasureMe</h3>
		    <h4 class="card-subtitle mb-2 text-muted">Personal Analytics Application</h4>
		    <div style="text-align:center; padding: 0.4rem;">
			    <img class="card-img-top" src="assets/login_intro_image.png" alt="Card image cap"/>
			</div>
		    <p class="card-text" style="margin-bottom: 0;">MeasureMe is a personal analytics application that takes data from a variety of mobile productivity applications and aggregates the data to gain insight into your productivity. This is a prototype for learning purposes, the link below contains the source code.</p>
		    <a href="https://github.com/youomid/MeasureMe" class="card-link">Github</a>
		  </div>
		</div>
		<div class="login-form-part" style="height:20%;">
		</div>
	</div>

</div>