<section style="width:100vw;">
	<div style="margin: 1vh 3vw 3vh 3vw;font-size: 2em">
		Dashboard
	</div>

	<div class="row">
	  <div class="col-md-5">
	  	<canvas id="myChart" width="400" height="250">{{ chart }}</canvas>
	  </div>
	  <div class="col-md-7">
	  	<section>
	  		Events Feed
		    <div class="feed-entry" *ngFor="let event of events">
		      <span class="pull-right text-muted">{{event['date']}}</span>
		      <i class="fa text-muted"></i>
		      	{{event['title']}}
		      <small class="meta text-muted">
		        {{event['description']}}
		      </small>
		    </div>
		  </section>
	  </div>
	</div>
	<button style="width:25%" type="button" (click)="sendMessage()" class="btn btn-primary btn-block"> Add Event </button>
</section>
