<section style="width:100vw;">
	<div style="margin: 1vh 3vw 3vh 3vw;font-size: 2em">
		Dashboard
	</div>

	<div class="row">
	  <div class="col-md-5">
	  	<canvas id="myChart" width="400" height="250">{{ chart }}</canvas>
	  </div>
	  <div class="col-md-7">
	  	<section>
	  		Events Feed
		    <div class="feed-entry">
		      <span class="pull-right text-muted">27 minutes ago</span>
		      <i class="fa text-muted"></i>
		      Started work session
		      <small class="meta text-muted">
		        Studying for finals
		      </small>
		    </div>
		    <div class="feed-entry">
		      <span class="pull-right text-muted">2 minutes ago</span>
		      <i class="fa text-muted"></i>
		      Finished work session
		      <small class="meta text-muted">
		        Studying for finals
		      </small>
		    </div>
		  </section>
	  </div>
	</div>
</section>
